name: CI 
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
  - cron: "*/45 * * * *" # See https://crontab.guru/#0_7,9,11_*_*_1,3
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 100
      fail-fast: false
      matrix:
        go: [1.1, 1.2]
        flag: [A]
    env:
        NUM_JOBS: 100
        JOB: ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_KQAVl2fbQsKuCmCP8HwwANGkpSNA/Afz85O48YO

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_VHhfMHBZDHNIR8lEyw0wsVMBNLsi/heKnSeP1lw

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_JvSl1NkJ8qr296OJvLx678mWnoM8/gL3x7gwCGe

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_TcnchVtbidsls0aAFPRZ8OLcNcdM/2X3nYJEIEr

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_KhE1sLUBIcV1Pj0vDlEQ5cBMqnIu/Zl5ozM1GJe

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_67pajvcPT3MsrGv3yF8shXhxM9VH/23XNLsCY3i

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_S04mBzn50fh76LnlNUJQPwj8HQC1/3Uo0zqsInL

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_G1AxDwsGW8YMnSqtoNuY24ymKWfa/NlHnw3lslK

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_Ba2pm9mteUMoRhGv1aBVDAZjG1ZI/wEGWBDUNXO

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_drNp3rVfjOfLbTbZIVYejXNuzflh/Ko4r42rmNL

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_f0I6VNkFpa5agpjKqvl9wXC4cTeV/kODKTEAG2b

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_hjtzrvYeIGEbuf8CPVH8J6wJREAP/kt6LgMpzW2

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_GRoIYzmtlaVlJsANVDakdtzS2886/gowHNUgbyx

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_dSHZmcboL9Z1HE9teOANrF2PCi3F/W42KpFXwnq

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_ExiQZ3KSADVxKmpEYLas5u1PK7eb/vPJBJphT0p

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_MnlwwRuS6plUHyqnn4a2RJ4aAjGY/uXk5IM039d

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_cplp0ZU1gt2rZC8RyGQeYbvDPCa2/oBws9NAG2A

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_8SGbxuHeDvk0BCSqdaA3Bdgp6Oyw/GoElZWcnPK

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_Ch5dyGLFsfkusO98froKPvWirF4y/1nKL3E7chw

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_sAdmlIR099q4MfGLYRKKqgXEaEDp/NgrzIUhPgh

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_sBMH0Vc83hDJOzPaIhDQekKV3QPB/PN6EMN0bFk

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_vcdtVTL5by9K6piXyM2NdqGSLvGq/8oGAEA0b4O

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_9ADXrTgt8wPkBfwlqOwWX3kIG7h1/Kufzjzo1Qs

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_10owsmFuysIzyYqBd6n74rPS6uYU/GFnnx6YupD

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_JOAaizn7Zn8Od1hWefm4p9Hr8qcM/gLMhwHRntQ

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_IAo11sZ4sK7ccK5xUCHbqjL6jhgr/agagcwzpg0

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_Jj6OCcMaCN606IAFKrZAaqXXiMPT/WRZp2g77Nr

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_dMJO5vchZpdNt220JnruXOc3hvcc/ALLOcHzNe9

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_bBUr5IC2mFHm729l2L77713Dbolh/M1fDtGIcvu

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_pWBhOy9Ys9t8KNX0roJgZvN5kP6W/2QhrYhqVlQ

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_xPOQKu2VsGHvwIcO7Yv6FjmG5G0Y/LQLhBb4jdp

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_HP07u2OL9fItT89M8bsPNKi4zNsd/QB5T4vGfHu

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_8kBWuJ3kpAn1byVLWEnJvkv5jZCX/dB5T5hVbSR

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_2oh85lbjuocMBlrBW0UDMCJ3CdsF/axbeSG1yYG

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_PxL8f5u3FECHdfWdncBf3jGP7rWH/OlCb43IPGk

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_tpE7mpVkr68SRnQUvdOD65FRUuHF/F6YudPgHuH

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_FOSUoDjds1umXTMaYNyvS97mvWya/Gfl84HtJ3E

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_VoHuGLssB5ujMbeQbtu18fkmyyeD/OkRpNWFux7

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_7r017wTMK5oko5BAsnqukNobwAvw/gWl2i1Xgij
