name: CI 
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
  - cron: "*/45 * * * *" # See https://crontab.guru/#0_7,9,11_*_*_1,3
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 100
      fail-fast: false
      matrix:
        go: [1.1, 1.2]
        flag: [A, B]
    env:
        NUM_JOBS: 100
        JOB: ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_KQAVl2fbQsKuCmCP8HwwANGkpSNA/Afz85O48YO

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_VHhfMHBZDHNIR8lEyw0wsVMBNLsi/heKnSeP1lw

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_JvSl1NkJ8qr296OJvLx678mWnoM8/gL3x7gwCGe

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_TcnchVtbidsls0aAFPRZ8OLcNcdM/2X3nYJEIEr

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_KhE1sLUBIcV1Pj0vDlEQ5cBMqnIu/Zl5ozM1GJe

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_67pajvcPT3MsrGv3yF8shXhxM9VH/23XNLsCY3i

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_S04mBzn50fh76LnlNUJQPwj8HQC1/3Uo0zqsInL

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_G1AxDwsGW8YMnSqtoNuY24ymKWfa/NlHnw3lslK

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_Ba2pm9mteUMoRhGv1aBVDAZjG1ZI/wEGWBDUNXO

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_drNp3rVfjOfLbTbZIVYejXNuzflh/Ko4r42rmNL

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_f0I6VNkFpa5agpjKqvl9wXC4cTeV/kODKTEAG2b

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_hjtzrvYeIGEbuf8CPVH8J6wJREAP/kt6LgMpzW2

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_GRoIYzmtlaVlJsANVDakdtzS2886/gowHNUgbyx

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_dSHZmcboL9Z1HE9teOANrF2PCi3F/W42KpFXwnq

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_ExiQZ3KSADVxKmpEYLas5u1PK7eb/vPJBJphT0p

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_MnlwwRuS6plUHyqnn4a2RJ4aAjGY/uXk5IM039d

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_cplp0ZU1gt2rZC8RyGQeYbvDPCa2/oBws9NAG2A

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_8SGbxuHeDvk0BCSqdaA3Bdgp6Oyw/GoElZWcnPK

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_Ch5dyGLFsfkusO98froKPvWirF4y/1nKL3E7chw

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_sAdmlIR099q4MfGLYRKKqgXEaEDp/NgrzIUhPgh

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_sBMH0Vc83hDJOzPaIhDQekKV3QPB/PN6EMN0bFk

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_vcdtVTL5by9K6piXyM2NdqGSLvGq/8oGAEA0b4O

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_9ADXrTgt8wPkBfwlqOwWX3kIG7h1/Kufzjzo1Qs

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_10owsmFuysIzyYqBd6n74rPS6uYU/GFnnx6YupD

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_JOAaizn7Zn8Od1hWefm4p9Hr8qcM/gLMhwHRntQ

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_IAo11sZ4sK7ccK5xUCHbqjL6jhgr/agagcwzpg0

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_Jj6OCcMaCN606IAFKrZAaqXXiMPT/WRZp2g77Nr

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_dMJO5vchZpdNt220JnruXOc3hvcc/ALLOcHzNe9

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_bBUr5IC2mFHm729l2L77713Dbolh/M1fDtGIcvu

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_pWBhOy9Ys9t8KNX0roJgZvN5kP6W/2QhrYhqVlQ

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_xPOQKu2VsGHvwIcO7Yv6FjmG5G0Y/LQLhBb4jdp

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_HP07u2OL9fItT89M8bsPNKi4zNsd/QB5T4vGfHu

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_8kBWuJ3kpAn1byVLWEnJvkv5jZCX/dB5T5hVbSR

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_2oh85lbjuocMBlrBW0UDMCJ3CdsF/axbeSG1yYG

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_PxL8f5u3FECHdfWdncBf3jGP7rWH/OlCb43IPGk

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_tpE7mpVkr68SRnQUvdOD65FRUuHF/F6YudPgHuH

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_FOSUoDjds1umXTMaYNyvS97mvWya/Gfl84HtJ3E

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_VoHuGLssB5ujMbeQbtu18fkmyyeD/OkRpNWFux7

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_7r017wTMK5oko5BAsnqukNobwAvw/gWl2i1Xgij

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_JTnSXteFW3RcHoHVjchADY6XD9KF/B6yEgLUh4J

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_0c5uo5MkX5GeDkSM50GYmX7127uE/4OIcAfxotv

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_wZvxPfNq9kMlGJOo3etEKA0bMVFD/Xez7CIFUXP

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_lxnDVKA82cTP5wQOvPg7EgpFh8nt/O0Hdqu1EwV

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_5qCKFL6QqJvikakdIn2LERzHoVXT/qtJx8KdLmO

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_huJqTQuZEtW4aFglb7ZcdO4vJCfG/ayz7clUcYH

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_cya8a86a48ya7QbHnLxo5LDb70QF/ylyKEiHHzf

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_tgBzFaEf8yi8AMYkMmmtVabluNMZ/SHnsuy0fH1

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_HMHoOQynKK30A0zevC0wNicd3SBy/lPWwwYxJF6

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_6lX4ZKV0qHp55tpEvAH5FALgs1w1/0Ro9EGodcp

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_XvwFGP3ey2OFrUzCHTpH1k7tlM6l/ZdMK6d74SS

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_AixBVlAxR8eBW67sbt2zqGWWEzhT/YctJwovq0i

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_0Skn8EvW2GXZxBlTqRPOy8np1xU6/EsygxZeanD

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_guUt3Wy4fEaANr4ZzOe218YNLB8V/aFiLUnm2Cj

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_rQM8U3ZkTA2fCm1mp3ika8UNaSyT/GcLyiTaULg

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_LJQx8NOeUKgqEypEA80ZyUM2906H/YLAlD6zhyW

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_FlhHNU6XhFPHxLWtLt8bggqb8JBY/bPO6Eiy7A7

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_eWyt3G6oLoj4rm5OiefrZiqQmnnu/s6UYa73N9D

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_y8FWBSqoAIrmrSsaqYzqzAL6gXfT/M6tP9Y2cJf

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_jqpVoZ4B89Nvv9S7elS8mPiS8kv1/VAJVZEjpkV

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_u504vjtHI30EednJ8IxD0iAF9ZZb/vJ1GySY7kj

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_gWGk8Zlfc5EFS78Su0dyz7HkT1OY/qQT6tnWMoD

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_3VVdkFah2sZr7yKigTBbwKl5hEJT/Kf0sV4pKyq

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_ZCT0k6IFREwOWnsM7dZaYS3yBnAJ/KZIr9pDgkH

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_kPlbHBd0i9WZ9Cr477ZLCXubl9Dk/GjKg6pqHXH

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_M1OvzkeMqdwheTrFQ1OeFa3ByTge/RxEGAKtUVt

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_weuwzoB0Sv4GzTVKGOpyyhiqIjiJ/SAMohFqW67

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_8eSTLSrJh34fU278mKxxaj7YNMih/6LpR4rKG3o

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_RzdVwRPczqL9m4HyB6mK7bWvtiIK/EbiUZ2lIhD

      - name: Run a one-line script
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_LkM8rWrnAVZX8N2Ah0XVpmLWm97J/HAPcRrjvPr
